<!--
  matTooltip = ao passar o cursor do mouse em cima do icon/button irá aparece a mensagem "Agents"
  routerLink = é a rota para qual o botão irá levar ao ser clicado
  -->

<mat-toolbar color="warn" id="headerColor">
  <span id="teste" fxFlex=4.5 >
    <img src="../../../../assets/valorant-logo-4.png" width="30" height="30" />
  </span>
  <span id="title" > {{ title }} </span>

  <span fxFlex></span>

  <button
    aria-label="menuItem.toolTipText"
    mat-icon-button
    [matTooltip]="menuItem.toolTipText"
    *ngFor="let menuItem of menuItems"
    [routerLink]="[menuItem.routerLink]"
  >
    <mat-icon>{{ menuItem.icon }}</mat-icon>
  </button>
</mat-toolbar>
