<div *ngIf="agentd">
  <h1>Details: {{ agentd.name | uppercase }}</h1>
  <div><span>ID: </span>{{ agentd.id }}</div>
  <div><span>Agent: </span>{{ agentd.name }}</div>
  <div><span>Name: </span>{{ agentd.name_c }}</div>
  <div><span>Origin: </span>{{ agentd.origin }}</div>
  <div><span>Function: </span>{{ agentd.function }}</div>

  <br />
  <div>
    <label for="name">Edit name: </label>
    <input id="name" [(ngModel)]="agentd.name" placeholder="name" type="text" />
  </div>

  <button mat-raised-button (click)="back()">Back</button>
</div>
