<mat-accordion *ngIf="messageService.getMessages().length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Messages </mat-panel-title>

      <mat-panel-description>
        {{ messageService.getMessages().length }} record(s)
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let message of messageService.getMessages()">
        {{ message }}
      </mat-list-item>
    </mat-list>

   <p>
    <button mat-raised-button color="warn" (click)="messageService.clear()">
      Clear
    </button>
  </p>

  </mat-expansion-panel>
</mat-accordion>
