<mat-accordion *ngIf="messageService.getMessages().length">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Messages </mat-panel-title>
      <mat-panel-description>
        {{ messageService.getMessages().length }} record(s)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngFor="let message of messageService.getMessages()">
      {{ message }}
    </div>
    <button mat-raised-button color="warn" (click)="messageService.clear()">
      Clear
    </button>
  </mat-expansion-panel>
</mat-accordion>
